In [12]:
import numpy as np
import pandas as pd
import joblib as jlib

In [2]:
raw_data = pd.read_csv('math cs.csv')

In [3]:
df = raw_data.copy()
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [4]:
df = df.drop('name', axis=1)

In [5]:
df.describe()

            math         cs
count  10.000000  10.000000
mean   66.800000  69.900000
std    17.376868  18.651482
min    35.000000  30.000000
25%    58.250000  66.500000
50%    66.500000  70.500000
75%    77.500000  80.750000
max    92.000000  98.000000

In [6]:
y = df['cs'].values

x = df['math'].values.reshape(-1, 1)

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [8]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

reg.fit(x_train.reshape(-1, 1), y_train)

LinearRegression()

In [13]:
jlib.dump(reg , 'model_jlib')

['model_jlib']

In [14]:
m_jlib = jlib.load('model_jlib')

In [15]:
m_jlib.predict([[12]])

array([13.93912652])